# Measures of Shape and Position

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("employee.csv")
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
import scipy.stats as stats

In [4]:
# calculate skewness and kurtosis

salary_skewness = stats.skew(data['MonthlyIncome'])
salary_kurtosis = stats.kurtosis(data['MonthlyIncome'])

print("Skewness of salary:", salary_skewness)
print("Kurtosis of salary:", salary_kurtosis)

Skewness of salary: 1.3684185123330814
Kurtosis of salary: 0.9977379294765711

### Percentiles and Quartiles

In [5]:
import numpy as np

In [6]:
#calculate percentiles
percentiles = np.percentile(data['MonthlyIncome'], [15, 45, 65])

#calculate quartiles
quartiles = np.percentile(data['MonthlyIncome'], [25, 50, 75])

print("Percentiles:")
print("15th percentile:", percentiles[0])
print("45th percentile (median):", percentiles[1])
print("65th percentile:", percentiles[2])

print("\nQuartiles:")
print("Q1 (25th percentile):", quartiles[0])
print("Q2 (50th percentile):", quartiles[1])
print("Q3 (75th percentile):", quartiles[2])

Percentiles:
15th percentile: 2476.7
45th percentile (median): 4554.1
65th percentile: 6348.7

Quartiles:
Q1 (25th percentile): 2911.0
Q2 (50th percentile): 4919.0
Q3 (75th percentile): 8379.0